.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.main {
    display: flex;
    flex-grow: 2;
}

#outro {
    display: flex;
    flex-grow: 1;
}
